<?xml version="1.0"?>
<config>
	<modules>
		<Iweb_AutoRelated>
			<version>1.0.1</version>
		</Iweb_AutoRelated>
	</modules>
	<global>
		<blocks>
			<autorelated>
				<class>Iweb_Autorelatedproducts_Block</class>
			</autorelated>
			<catalog>
				<rewrite>
					<product_list_related>Iweb_AutoRelated_Block_Related</product_list_related>
				</rewrite>
			</catalog>
		</blocks>
		<models>
			<autorelated>
				<class>Iweb_AutoRelated_Model</class>
			</autorelated>
		</models>
		<helpers>
			<autorelated>
				<class>Iweb_AutoRelated_Helper</class>
			</autorelated>
		</helpers>
	</global>
	<adminhtml>
		<acl>
			<resources>
				<admin>
					<children>
						<system>
							<children>
								<config>
									<children>
										<autorelated translate="title" module="autorelated">
											<title>Related Products</title>
										</autorelated>
									</children>
								</config>
							</children>
						</system>
					</children>
				</admin>
			</resources>
		</acl>
	</adminhtml>
	<default>
		<autorelated>
			<general>
				<enabled>1</enabled>
				<limit>3</limit>
			</general>
		</autorelated>
	</default>
</config>
